services:
  extract:
    build: .
    volumes:
      - ./csvs:/app/csvs
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: weather_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./init_db.sql:/docker-entrypoint-initdb.d/init_db.sql

  pgweb:
    image: sosedoff/pgweb
    restart: always
    environment:
      DATABASE_URL: postgres://user:password@postgres:5432/weather_db?sslmode=disable
    ports:
      - "8081:8081"
    depends_on:
      - postgres

volumes:
  postgres_data:
