[project]
name = "openmeteo-elt"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14.2"
dependencies = [
    "httpx>=0.28.1",
    "pandas>=2.3.3",
]

[dependency-groups]
dev = [
    "ruff>=0.14.10",
]
